/* 전체 화면 공통 세팅 */
body {
  margin: 0;
  padding: 0;
  background-color: #f4ece4;
  font-family: 'sans-serif';
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
  height: 90vh;
}